.usuario-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;


}

.title {
    text-align: center;
    font-size: 50px;
    color:black;
    font-weight: bold;

}

.usuarios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: auto;
}

.btn-primary {
    background: #42A5F5;
    background: linear-gradient(90deg, rgba(66, 165, 245, 1) 0%, rgba(46, 196, 182, 1) 100%);
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.btn-primary:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(59, 130, 246, 0.3);
}