<aside class="sidebar" [class.collapsed]="isCollapsed()" [class.mobile-hidden]="isMobile() && isCollapsed()">
    <div class="sidebar-content">
        <div class="sidebar-avatar" [class.collapsed]="isCollapsed()">
            <img src="/images/fotos/directora.png" class="sidebar-avatar-image" [class.collapsed]="isCollapsed()">
            <span class="sidebar-avatar-label" [class.collapsed]="isCollapsed()">{{ user.getUser() }}</span>

        </div>
        <div class="linea" [class.collapsed]="isCollapsed()"></div>
        <ul class="nav-list">
            <li class="nav-item">
                <a class="nav-link" [class.coll]="isCollapsed()" [routerLinkActive]="'nav-link-active'"
                    [routerLinkActiveOptions]="{exact:true}">
                    <span class="nav-icon"><fa-icon [icon]="iconPerfil" class="fa-2xl"></fa-icon></span>
                    <span class="nav-label" [class.hidden]="isCollapsed()">Perfil</span>
                </a>
            </li>
            @for (item of menuItems; track $index) {
            <li class="nav-item">
                <a class="nav-link" [class.coll]="isCollapsed()" [routerLink]='item.ruta'
                    [routerLinkActive]="'nav-link-active'" [routerLinkActiveOptions]="{exact:true}">
                    <span class="nav-icon"><fa-icon [icon]="item.icon" class="fa-2xl"></fa-icon></span>
                    <span class="nav-label" [class.hidden]="isCollapsed()">{{item.label}}</span>
                </a>


            </li>
            }


        </ul>

    </div>

</aside>