.puestos-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.action-user {
    position: absolute;
    z-index: 1;
    display: flex;
    border-radius: 10px;
    top: 60px;
    animation: slideIn 0.5s ease;

}

.listPuesto {
    position: absolute;

    box-shadow: -4px 0 10px rgb(172, 167, 167);
    padding: 1rem;    
    border-radius: 12px 0 0 12px;
    background: #fff;
    top: 50px;
    height: auto;
}

.listPuesto.active {
    filter: blur(1px);
    pointer-events: none;
}

@keyframes slideIn {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}
