<div class="flex flex-col items-center gap-4">
    <div class="aviso">
        <span>El excel debe tener la siguiente estructura</span>
       
        <div class="relative max-w-[400PX] overflow-x-auto shadow-md sm:rounded-lg sm:max-w-[600px] xl:max-w-[900px]">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 min-w-max">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">RED</th>
                        <th scope="col" class="px-6 py-3">AÑOS</th>
                        <th scope="col" class="px-6 py-3">MES</th>
                        <th scope="col" class="px-6 py-3">MicroRed</th>
                        <th scope="col" class="px-6 py-3">Ipress</th>
                        <th scope="col" class="px-6 py-3">CursoVida</th>
                        <th scope="col" class="px-6 py-3">Atendidos_EESS</th>
                        <th scope="col" class="px-6 py-3">Atendidos_serv</th>
                        <th scope="col" class="px-6 py-3">Atenciones_serv</th>
                        <th scope="col" class="px-6 py-3">App</th>
                        <th scope="col" class="px-6 py-3">AA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            RED HUAMANGA
                        </th>
                        <td class="px-6 py-4">2023</td>
                        <td class="px-6 py-4">7</td>
                        <td class="px-6 py-4">VINCHOS</td>
                        <td class="px-6 py-4">CCOÑANI</td>
                        <td class="px-6 py-4">4-Adulto(30-59)</td>
                        <td class="px-6 py-4">21</td>
                        <td class="px-6 py-4">32</td>
                        <td class="px-6 py-4">134</td>
                        <td class="px-6 py-4">2</td>
                        <td class="px-6 py-4">S</td>
                    </tr>
                    <tr
                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            RED HUAMANGA
                        </th>
                        <td class="px-6 py-4">2023</td>
                        <td class="px-6 py-4">7</td>
                        <td class="px-6 py-4">VINCHOS</td>
                        <td class="px-6 py-4">CCOÑANI</td>
                        <td class="px-6 py-4">4-Adulto(30-59)</td>
                        <td class="px-6 py-4">21</td>
                        <td class="px-6 py-4">32</td>
                        <td class="px-6 py-4">134</td>
                        <td class="px-6 py-4">2</td>
                        <td class="px-6 py-4">S</td>
                    </tr>
                    <tr
                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            RED HUAMANGA
                        </th>
                        <td class="px-6 py-4">2023</td>
                        <td class="px-6 py-4">7</td>
                        <td class="px-6 py-4">VINCHOS</td>
                        <td class="px-6 py-4">CCOÑANI</td>
                        <td class="px-6 py-4">4-Adulto(30-59)</td>
                        <td class="px-6 py-4">21</td>
                        <td class="px-6 py-4">32</td>
                        <td class="px-6 py-4">134</td>
                        <td class="px-6 py-4">2</td>
                        <td class="px-6 py-4">S</td>
                    </tr>
                </tbody>
            </table>
        </div>

        

    </div>
    <div class="box-cargar"
        (dragover)="onDragOver($event)" (dragleave)="onDragLeave()" (drop)="onDrop($event)"
        [class.dragging]="isDragging()" [class.dark:bg-gray-500]="isDragging()" 
         [class.success]="successMsg()" [class.error]="errorMsg()" >
        
        <label for="file_input" class="flex flex-col items-center justify-center w-full h-full">
            <div class="flex flex-col items-center justify-center pt-5 pb-6 pointer-events-none">
                <svg class="w-10 h-10 mb-3 text-gray-400 dark:text-gray-300" fill="none" stroke="currentColor"
                    stroke-width="2" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M7 16V4a1 1 0 011-1h8a1 1 0 011 1v12m-5 4v-8m0 0l-3 3m3-3l3 3" />
                </svg>
                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
                    <span class="font-semibold">Haz clic para subir</span> o arrastra y suelta
                </p>
                <p class="text-xs text-gray-500 dark:text-gray-400">Solo Excel (.xlsx, .xls)</p>
            </div>
            <input id="file_input" type="file" class="hidden" accept=".xls,.xlsx" (change)="onFileSelected($event)" />
        </label>
    </div>
    @if (errorMsg()) {
    <p class="text-xl text-red-500">{{ errorMsg() }}</p>

    }
    @if (successMsg()) {

    <p class="text-xl text-green-600">{{ successMsg() }}</p>
    <button (click)="subirExcel()" class="boton-cargar"
    [class.disable]="cargando()"
    >Subir</button>
    }
    @if (cargando()) {
        <div class="loading-overlay">
            <div class="spinner-border text-primary"></div>
            <p>Subiendo archivo</p>
        </div>
    }
    

</div>