.box-cargar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 300px;
  height: 150px;
  border: dashed 2px #adb5bd;
  border-radius: 20px;
  cursor: pointer;
  background-color: #dee2e6;
  transition: transform 300ms ease-in-out, box-shadow 300ms ease-in-out, background-color 300ms ease-in-out, border-color 300ms ease-in-out;
}

.box-cargar:hover,
.box-cargar.dragging {
  background-color: #adb5bd;
  border-color: #6c757d;
  transform: scale(1.02);
  box-shadow: 0 10px 15px #495057;
}

/* Estados */
.box-cargar.success {
  border-color: #42a5f5;
  background-color: #90caf9;
}

.box-cargar.error {
  border-color: #ff7096;
  background-color: #ff99ac;
}

/* Hover específicos */
.box-cargar.success:hover {
  box-shadow: 0 10px 15px #42a5f5;
}

.box-cargar.error:hover {
  box-shadow: 0 10px 15px #ff7096;
}
.boton-cargar{
  background-color: #007bff;
  width: 100px;
  border-radius: 20px;
}
.box-cargar.disable{
  background-color: red;
}

/* animacion cargar archivo*/
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.loading-overlay p {
  margin-top: 10px;
  color: #007bff;
}