.sidebar {
  background: white;
  border-right: 5px solid #111314;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  z-index: 999;
  height: 100vh;
  width: 250px;
}

.sidebar.collapsed {
  width: 80px;
  transition: transform 0.3s ease;
  border: none;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-nav {
  flex: 1;
  overflow-y: auto;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 5px;
  padding: 5px;

}

.nav-link {
  display: flex;
  align-items: center;
  color: #080808;
  text-decoration: none;
  padding-inline: 10px;
  position: relative;
  border-radius: 10px;
}
.nav-link:hover {
  background: #08080869;
}
.nav-link.coll{
  color: rgb(2, 2, 2);
  
}
.nav-link-active.coll{
  color: rgb(255, 255, 255);
}
.nav-link-active{
  color: #ececec;
  border-left: 5px solid #080808;
  background: #08080869;
}










.nav-label {
  flex: 1;
  font-weight: 500;
  font-size: 16px;
  margin-left: 20px;
  transition: opacity 0.2s ease;
}

.nav-label.hidden {
  display: none;
}




/* Mobile Styles */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 250px;
    transform: translateX(0);
    transition: transform 0.3s ease;
    z-index: 999;
  }
  

  .sidebar.mobile-hidden {
    transform: translateX(-100%);
    
    transition: transform 0.3s ease;
  }

  

  .nav-label.hidden {
    opacity: 1;
    width: auto;
  }

  
}