<header class="header">
  <div class="header-left">
    <button class="menu-toggle" (click)="toggleSidebar.emit()" [class.rotated]="!isSidebarCollapsed()">
      
      <fa-icon [icon]="menuIcon" class="fa-2xl"></fa-icon>
    </button>
    <h2 class="app-title">ADMINISTRADOR </h2>
  </div>

  <div class="header-right">
   
    <div class="menu-container" (click)=logout()>
        <P>SALIR</P>
      <span class="menu-text">SALIR</span>
    </div>
    <div>
      <a href="">{{user}}</a>
    </div>




  </div>
</header>