.content {
  display: flex;
  flex-direction: row;
}

.side-content {
  width: 250px;
  overflow: hidden;
}

.main-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.sidebar-collapsed {
  width: 80px;
}

@media (max-width: 768px) {
  .sidebar-collapsed {
    width: 0;
  }
}