<div class="dashboard-estadistica" >
  <header>
    <app-header-estadistica (toggleSidebar)="dashboardService.toggleSidebar()"
      [isSidebarCollapsed]="dashboardService.isSidebarCollapsed()">
    </app-header-estadistica>
  </header>
  <div class="content">
    <aside class="side-content" [class.sidebar-collapsed]="dashboardService.isSidebarCollapsed()">
      <app-sidebar-estadistica [isCollapsed]="dashboardService.isSidebarCollapsed()"
        [isMobile]="dashboardService.isMobile()">

      </app-sidebar-estadistica>
    </aside>


    <main class="main-content">
      <router-outlet></router-outlet>

    </main>
  </div>


  <!-- Overlay para móvil -->
  <div class="sidebar-overlay" [class.active]="!dashboardService.isSidebarCollapsed() && dashboardService.isMobile()"
    (click)="dashboardService.collapseSidebar()"></div>
</div>