<header class="bg-[#1E73BE] shadow-md dark:bg-black" >
  <div class="container mx-auto px-4 flex justify-between items-center py-3">
    
    <!-- Logo -->
    <div class="flex items-center space-x-2 text-2xl font-bold text-white">
      <img src="/logo/logoRed.png" alt="Logo" class="" />
    
    </div>

    <!-- Botón hamburguesa (solo en móviles) -->
    <button 
      class="md:hidden text-white focus:outline-none"
      (click)="isOpen = !isOpen">
      <!-- Ícono -->
      <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none"
           viewBox="0 0 24 24" stroke="currentColor">
        @if (!isOpen) {
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16" />
        }
        @if (isOpen) {
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M6 18L18 6M6 6l12 12" />
        }
        

        
      </svg>
    </button>

    <!-- NAVBAR normal (pantallas medianas en adelante) -->
    <nav class="hidden md:block">
      <ul class="flex space-x-6  text-black font-semibold dark:text-white">
        <li><a routerLink="/" routerLinkActive="text-white"
               [routerLinkActiveOptions]="{exact:true}"
               class=" hover:text-white">INICIO</a></li>
        <li><a routerLink="/nosotros" routerLinkActive="text-white"
               class=" hover:text-white">NOSOTROS</a></li>
        <li><a routerLink="/dependencias" routerLinkActive="text-white"
               class=" hover:text-white">DEPENDENCIAS</a></li>
        <li><a routerLink="/convocatorias" routerLinkActive="text-white"
               class=" hover:text-white">CONVOCATORIAS</a></li>
        <li><a routerLink="/programas" routerLinkActive="text-white"
               class=" hover:text-white">PROGRAMAS</a></li>
        <li><a routerLink="/sgdRedHuamanga" routerLinkActive="text-white"
               class=" hover:text-white">SGD</a></li>
      </ul>
    </nav>
  </div>

  <!-- NAVBAR móvil (ocupa todo el ancho debajo del logo) -->
   @if (isOpen) {
  <nav  class="md:hidden bg-[#ffffff] w-full">
    <ul class="flex flex-col items-center space-y-2 p-4 font-semibold">
      <li class="w-full text-black "><a routerLink="/" routerLinkActive="text-white bg-[#1E73BE]"
             [routerLinkActiveOptions]="{exact:true}"
             class="flex justify-center  hover:text-white rounded-sm">INICIO</a></li>
             
      <li class="w-full text-black"><a routerLink="/nosotros" routerLinkActive="text-white bg-[#1E73BE]"
             class="flex justify-center  hover:text-white rounded-sm">NOSOTROS</a></li>
      <li class="w-full text-black"><a routerLink="/dependencias" routerLinkActive="text-white bg-[#1E73BE]"
             class="flex justify-center  hover:text-white rounded-sm">DEPENDENCIAS</a></li>
      <li class="w-full text-black"><a routerLink="/convocatorias" routerLinkActive="text-white bg-[#1E73BE]"
             class="flex justify-center  hover:text-white rounded-sm">CONVOCATORIAS</a></li>
      <li class="w-full text-black"><a routerLink="/programas" routerLinkActive="text-white bg-[#1E73BE]"
             class="flex justify-center  hover:text-white rounded-sm">PROGRAMAS</a></li>
      <li class="w-full text-black"><a routerLink="/sgdRedHuamanga" routerLinkActive="text-white bg-[#1E73BE]"
             class="flex justify-center  hover:text-white rounded-sm">Sistema Gestion Documentaria</a></li>
    </ul>
  </nav>
  }
</header>
